@page
@model AirplaneTicketsReservationApp.Pages.Visitor.ReserveModel
@{
}

<h2>Reserve flight</h2>

<form method="post">
    <input type="hidden" name="id" value="@Model.reservation.flightId" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Number of seats </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="numberOfSeats" value="@Model.reservation.numberOfSeats" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">User id</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="userId" value="@Model.reservation.userId" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Flight id</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="flightId" value="@Model.reservation.flightId" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-mb-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>